---

import logo from '../assets/logoCustomFlow.png';
import { Image } from 'astro:assets';
---

<div class=" w-full fixed top-0 p-2 flex flex-row justify-between mb-3 items-center bg-cyan-100 dark:bg-slate-800 dark:shadow-slate-950 shadow-xl shadow-blue-200  transition-colors duration-500">
    <div class=" ml-30 flex flex-row"> 
        <span id="logo" class="flex flex-row items-center text-black dark:text-white text-2xl space-x-4 font-changa-one-regular cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="-3 -3 24 24"><path fill="#1880de" d="M.694 17.306c-1.91-1.912.258-7.18 4.845-11.767S15.394-1.217 17.306.694c1.91 1.912-.258 7.18-4.845 11.767S2.606 19.217.694 17.306M2.08 15.92c.815.816 5.102-.95 8.997-4.845s5.66-8.182 4.845-8.997c-.815-.816-5.102.95-8.997 4.845s-5.66 8.182-4.845 8.997m3.46-3.46C.952 7.874-1.217 2.606.694.694c1.912-1.91 7.18.258 11.767 4.845s6.756 9.855 4.845 11.767c-1.912 1.91-7.18-.258-11.767-4.845zm1.385-1.385c3.895 3.895 8.182 5.66 8.997 4.845c.816-.815-.95-5.102-4.845-8.997S2.895 1.263 2.08 2.078c-.816.815.95 5.102 4.845 8.997M9 11a2 2 0 1 1 0-4a2 2 0 0 1 0 4" stroke-width="0.5" stroke="#1880de"/></svg>JAJ-DEVELOPER</span>
    </div>
    <div class=" flex flex-row  justify-center mx-auto space-x-10">
        <p class=" text-sm font-Bitcount text-slate-900 dark:text-white my-5  cursor-pointer hover:bg-slate-300 rounded-xl py-4 px-6 transition-colors">Inicio</p>
        <p class=" text-sm font-Bitcount text-slate-900 dark:text-white my-5  cursor-pointer hover:bg-slate-300 rounded-xl py-4 px-6 transition-colors">Perfil</p>
        <p class=" text-sm font-Bitcount text-slate-900 dark:text-white my-5  cursor-pointer hover:bg-slate-300 rounded-xl py-4 px-6 transition-colors">Nuestros Servicios</p>
        <p class=" text-sm font-Bitcount text-slate-900 dark:text-white my-5  cursor-pointer hover:bg-slate-300 rounded-xl py-4 px-6 transition-colors">Contacto</p>
        
    </div>
    <div class=" mr-30">
        <button class=" border-2 border-sky-800 text-black dark:text-white font-Bitcount text-sm p-4 rounded-xl cursor-pointer hover:text-white hover:bg-sky-700 transition-colors ">Solicita una cotizacion!!</button>
    </div>
</div>

<script>
  
</script>